global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'fraud-detection-api'
    static_configs:
      - targets: ['host.docker.internal:8000']
    
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9092']
    
  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres:5432']